<nav role="navigation" class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img class="img-fluid" src="Images/Logo.jpg" width="163px" />
        </a>

        <button class="navbar-toggler border-0" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/theFashionSchool">Home <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item dropdown mx-md-4">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Courses
                    </a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/onlineCourses">Online courses</a>
                        <a class="dropdown-item" href="/onsiteCourses">Onsite courses</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Brands
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">TFP Accessories</a>
                        <a class="dropdown-item" href="#">TFP Bridals</a>
                </li>

                <li class="nav-item mx-md-4">
                    <a class="nav-link" href="#">Gallery</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Contact us</a>
                </li>

                <li class="nav-item ml-md-4">
                    <a class="nav-link btn btn-outline-warning px-3 linear-gradient" href="#">
                        Login
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>