<html>

<head>
    <meta charset="utf-8">
    <meta name="name" content="content">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Courses - Tolumi THe Fashion People</title>
    <link href="https://fonts.googleapis.com/css?family=Rokkitt:300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="Libraries/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="Libraries/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="Libraries/slick/slick-theme.css" />
    <link rel="stylesheet" href="Styles/index.css">
    <link rel="stylesheet" href="Styles/onlineCourses.css">
</head>

<body>
    <nav role="navigation" class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img class="img-fluid" src="Images/Logo.jpg" width="163px" />
            </a>

            <button class="navbar-toggler border-0" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item dropdown mx-md-4">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Courses
                        </a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/onlineCourses">Online courses</a>
                            <a class="dropdown-item" href="/onsiteCourses">Onsite courses</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Brands
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">TFP Accessories</a>
                            <a class="dropdown-item" href="#">TFP Bridals</a>
                    </li>

                    <li class="nav-item mx-md-4">
                        <a class="nav-link" href="#">Gallery</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact us</a>
                    </li>

                    <li class="nav-item ml-md-4">
                        <a class="nav-link btn btn-outline-warning px-3 linear-gradient" href="#">
                            Login
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header role="heading" class="text-center text-white py-5">
        <h1 class="my-5">Online Courses</h1>
    </header>

    <main class="my-4" role="main">
        <section class="py-1">
            <div class="container">
                <div class="lead">
                    <p>
                        Our online classes are taught to be very simple and easy for each student to understand and follow properly. We know
                        and
                        understand that each student’s need is different and we put all the considerations we are aware of to make the best
                        of
                        each lesson.
                    </p>
                    
                    <p>
                        All the classes listed here are fully online classes and lessons are taught through videos.
                    </p>
                </div>
            </div>
        </section>

        <!-- How Courses work section -->
        <section class="border my-5 py-5">
            <div class="container">
                <h2 style="font-size: 1.5em;" class="text-capitalize text-center linear-gradient">how our courses work</h2>

                <div class="row justify-content-center mt-5">
                    <div class="col-md-4 text-center">
                        <img src="Icons/icon-clock.svg" alt="tfp image" class="img-fluid">
                        
                        <span class="lead font-weight-bolder d-block mt-2"> Learn at your own pace</span>
                        <p>Watch classes at your own schedule anytime</p>
                    </div>

                    <div class="col-md-4 text-center mt-5 mt-md-0">
                        <img src="Icons/Vector.svg" alt="tfp image" class="img-fluid">
                        
                        <span class="lead font-weight-bolder d-block mt-3"> Learn by doing</span>
                        <p>Create Projects and build your portfolio</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Courses list section -->
        <section class="my-4 py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <a href="#" class="card h-100 shadow forceDark border-0">
                            <img class="card-img-top img-fluid" style="height:300px" src="Images/flatCutting.jpg" alt="tfp-image">
                            <div class="card-body">
                                <h4 class="card-title lead font-weight-bolder">Flat Cutting/Free Hand</h4>
                                <p class="card-text">N50,000</p>
                            </div>
                        </a>
                    </div>
                
                    <div class="col-md-4">
                        <a href="#" class="card h-100 shadow forceDark border-0">
                            <img class="card-img-top img-fluid" style="height:300px" src="Images/Pattern.jpg" alt="tfp-image">
                            <div class="card-body">
                                <h4 class="card-title lead font-weight-bolder">Pattern Drafting</h4>
                                <p class="card-text">N150,000</p>
                            </div>
                        </a>
                    </div>
                
                    <div class="col-md-4">
                        <a href="#" class="card h-100 shadow forceDark border-0">
                            <img class="card-img-top img-fluid" style="height:300px" src="Images/Full.jpg" alt="tfp-image">
                            <div class="card-body">
                                <h4 class="card-title lead font-weight-bolder">Full Fashion Course</h4>
                                <p class="card-text">N450,000</p>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="row mt-5">
                    <div class="col-md-4">
                        <a href="#" class="card h-100 shadow forceDark border-0">
                            <img class="card-img-top img-fluid" style="height:300px" src="Images/flatCutting.jpg" alt="tfp-image">
                            <div class="card-body">
                                <h4 class="card-title lead font-weight-bolder">Flat Cutting/Free Hand</h4>
                                <p class="card-text">N50,000</p>
                            </div>
                        </a>
                    </div>
                
                    <div class="col-md-4">
                        <a href="#" class="card h-100 shadow forceDark border-0">
                            <img class="card-img-top img-fluid" style="height:300px" src="Images/Pattern.jpg" alt="tfp-image">
                            <div class="card-body">
                                <h4 class="card-title lead font-weight-bolder">Pattern Drafting</h4>
                                <p class="card-text">N150,000</p>
                            </div>
                        </a>
                    </div>
                
                    <div class="col-md-4">
                        <a href="#" class="card h-100 shadow forceDark border-0">
                            <img class="card-img-top img-fluid" style="height:300px" src="Images/Full.jpg" alt="tfp-image">
                            <div class="card-body">
                                <h4 class="card-title lead font-weight-bolder">Full Fashion Course</h4>
                                <p class="card-text">N450,000</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <!-- FAQs -->
        <section class="my-4 py-5">
            <div class="container">
                <h2 class="text-center linear-gradient text-capitalize">Frequently Asked Questions</h2>

                <div class="accordion mt-5" id="accordionExample">
                    <div class="card" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <div class="card-header bg-white d-flex py-4 border-bottom-0 justify-content-between" id="headingOne">
                            <h3 class="lead font-weight-bold">How will I get access to the course?</h3>
                            <img src="Icons/chevDown.svg" class="h-25 my-auto" alt="tfp image" >
                        </div>
                
                        <div id="collapseOne" class="collapse border-0" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                            After you pay for the course, you will be given a username and password to access the course after we confirm your
                            payment.
                            </div>
                        </div>
                    </div>

                    <div class="card" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                        <div class="card-header bg-white d-flex py-4 border-bottom-0 justify-content-between" id="headingTwo">
                            <h3 class="lead font-weight-bold my-auto">How long will I have access to the course after I pay for it?</h3>
                            <img src="Icons/chevDown.svg" class="h-25 my-auto" alt="tfp image" >
                        </div>

                        <div id="collapseTwo" class="collapse border-0" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">
                                You have access to the course for the duration of your course and an extra 4 weeks afterwards.
                            </div>
                        </div>
                    </div>

                    <div class="card" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                        <div class="card-header bg-white d-flex py-4 border-bottom-0 justify-content-between" id="headingThree">
                            <h3 class="lead font-weight-bold">What type of device do I need to watch the lessons?</h3>
                            <img src="Icons/chevDown.svg" class="h-25 my-auto" alt="tfp image" >
                        </div>

                        <div id="collapseThree" class="collap border-0se" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <div class="card-body">
                                Any computer, tablet or phone that has access to the internet. An excellent internet connection is recommended.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <script src="Libraries/bootstrap/jquery.min.js"></script>
    <script src="Libraries/bootstrap/bootstrap.min.js"></script>
</body>